<h2>All Tenants</h2>

<td><a href="create-tenant">Create New Tenant</a></td>

<table class="u-full-width">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |tenant|}}
    <tr>
      <td>{{tenant.firstname}}</td>
      <td>{{tenant.lastname}}</td>
      <td>N/A</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
